PORT=3001
DATABASE_URL="file:./dev.db"
JWT_SECRET="your-jwt-secret-change-me"

# Freedom Pay
FREEDOM_PAY_MERCHANT_ID="your-merchant-id"
FREEDOM_PAY_SECRET_KEY="your-secret-key"
FREEDOM_PAY_API_BASE_URL="https://api.freedompay.kz"
FREEDOM_PAY_RESULT_URL="https://your-backend-domain.com/api/webhooks/freedom"
FREEDOM_PAY_SUCCESS_URL="https://your-frontend-domain.com/payment/success"
FREEDOM_PAY_FAILURE_URL="https://your-frontend-domain.com/payment/failure"
FREEDOM_PAY_TESTING_MODE="1"

# Telegram
TELEGRAM_BOT_TOKEN="your-telegram-bot-token"
TELEGRAM_CHANNEL_ID="your-telegram-channel-id"

# Admin Credentials
ADMIN_USERNAME ="admin";
ADMIN_PASSWORD ="qwerty";
