PORT=3001
DATABASE_URL="file:./dev.db"
JWT_SECRET="your-jwt-secret-change-me"

# Freedom Pay
FREEDOM_PAY_MERCHANT_ID="your-merchant-id"
FREEDOM_PAY_SECRET_KEY="your-secret-key"

# Telegram
TELEGRAM_BOT_TOKEN="your-telegram-bot-token"
TELEGRAM_CHANNEL_ID="your-telegram-channel-id"

# Admin Credentials
ADMIN_USERNAME ="admin";
ADMIN_PASSWORD ="qwerty";